# Environment & secrets
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
env/
.venv/
*.egg-info/
dist/
build/

# Django
db.sqlite3
*.log
staticfiles/
media/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
